section.intro
	.container.intro__container
		.intro__content
			.user-info
				h1.user-info__desc Личный сайт <br>веб разработчика
				h2.user-info__username Яна <br>Степанова

		.intro__buttons
			.scroll-down-button__text Скролл
			.scroll-down-button__icon
				a(href="#").scroll__link
					+icon("scroll", "scroll__icon")