section(class='parallax', id='scene')
	div(class="parallax__layer", data-depth="0.00")
		img(class="parallax__image", src="../images/parallax/1.jpg")
	div(class="parallax__layer", data-depth="0.20")
		img(class="parallax__image", src="../images/parallax/2.png")
	div(class="parallax__layer", data-depth="0.40")
		img(class="parallax__image", src="../images/parallax/3.png")
	div(class="parallax__layer", data-depth="0.60")
		img(class="parallax__image", src="../images/parallax/4.png")
	div(class="parallax__layer", data-depth="0.70")
		img(class="parallax__image", src="../images/parallax/5.png")
	div(class="parallax__layer", data-depth="0.80")
		img(class="parallax__image", src="../images/parallax/6.png")