section.skills
	.container.skills__container
		.skills__content
			h2.content-title.skills__content-title Чем я могу быть полезна вам
			.content-desc.skills__desc
				p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
		.skills__widget
			#skills-component