.form__button {
	display: block;
	width: 347px;
	height: 80px;
	background-image: linear-gradient(to right, #d0731b 0%, #dc9322 100%);
	font-size: 18px;
	color: #ffffff;
	text-transform: uppercase;
	font-weight: 700;
}
