.header {
	position: absolute;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 40px;
}

.header__container {
	flex-direction: row;
}

.header__logo {
	font-size: 36px;
	font-weight: 900;
}

.header__menu {
	margin: 0 90px;
	font-size: 16px;
}
