.link-tag {
	display: flex;
	align-items: center;
	width: fit-content;
}

.link-tag__icon {
	width: 15px;
	height: 15px;
	fill: #586ed3;
	margin-right: 20px;
}

.link-tag__text {
	font-size: 18px;
	color: #586ed3;
	font-weight: 700;
}
