.skill {
	position: relative;
}

.skill__title {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.skill__shape {
	width: 160px;
	height: 160px;
	fill: transparent;
}

.skill__circle--position--under {
	stroke: #e9e9e9;
	stroke-width: 3px;
	opacity: 0.1;
}

.skill__circle--position--above {
	stroke: #dc9322;
	stroke-width: 9px;
	/* stroke-dasharray: 502; */
}
