.welcome-section {
	position: relative;

	@include super-wide {
		background: url("~images/background/bridge.jpg") center top no-repeat /
			cover;
	}
	@include tablets {
		background: url("~images/background/bridge.jpg") center top no-repeat /
			cover;
	}
}
/* ../images/background/bridge.jpg */
