.woods {
	background-image: linear-gradient(
		to right,
		rgba(35, 37, 41, 0.99),
		rgba(35, 37, 40, 0.2)),
		url("../images/background/forest.png");
	background-size: cover;
}
/* linear-gradient(to right, #232529 0%, #232528 42%, rgba(34, 36, 39, 0) 100%);
opacity: 0.9; */
