include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title Portfolio
	body
		.wrapper
				.parallax
				include includes/header
				include includes/intro
				include includes/about
				include includes/skills
				include includes/portfolio
				.woods
					include includes/reviews
					include includes/order
				include includes/footer

		include ./templates/entry.pug




