			//- 			          <div class="form">
         //-    <form id="myForm" action="" class="form__elem">
         //-      <div class="form__column">
         //-        <div class="form__row">
         //-          <label class="form__block">
         //-            <div class="form__block-title">Имя</div>
         //-            <input type="text" class="form__input" name="name" required>
         //-            <div class="error"></div>
         //-          </label>
         //-          <label class="form__block">
         //-            <div class="form__block-title">Телефон</div>
         //-            <input placeholder="89022348912" type="text" class="form__input" name="phone" required>
         //-            <div class="error"></div>
         //-          </label>
         //-        </div>
         //-        <div class="form__row">
         //-          <label class="form__block">
         //-            <div class="form__block-title">e-mail</div>
         //-            <input type="email" class="form__input" name="to" required>
         //-            <div class="error"></div>
         //-          </label>
         //-          <label class="form__block">
         //-            <div class="form__block-title">Улица</div>
         //-            <input type="text" class="form__input" name="street">
         //-            <!-- <div class="error"></div> -->
         //-          </label>
         //-        </div>
         //-        <div class="form__row">
         //-          <label class="form__block">
         //-            <div class="form__block-title">Дом</div>
         //-            <input type="text" class="form__input" name="building">
         //-            <!-- <div class="error"></div> -->
         //-          </label>
         //-          <label class="form__block">
         //-            <div class="form__block-title">Корпус</div>
         //-            <input type="text" class="form__input" name="construction">
         //-          </label>
         //-          <label class="form__block">
         //-            <div class="form__block-title">Квартира</div>
         //-            <input type="text" class="form__input" name="apartment">
         //-            <!-- <div class="error"></div> -->
         //-          </label>
         //-          <label class="form__block">
         //-            <div class="form__block-title">Этаж</div>
         //-            <input type="text" class="form__input" name="floor">
         //-          </label>
         //-        </div>
         //-      </div>
         //-      <div class="form__column">
         //-        <div class="form__row">
         //-          <label class="form__block">
         //-            <div class="form__block-title">Комментарий</div>
         //-            <textarea class="form__input form__input--textarea" name="comment" required></textarea>
         //-            <div class="error"></div>
         //-          </label>
         //-        </div>
         //-        <div class="form__row">
         //-          <label class="form__radio">
         //-            <input type="radio" class="form__radio-default" name="formRadio" value="will need change">
         //-            <div class="form__radio-custom"></div>
         //-            <div class="form__radio-desc">Потребуется сдача</div>
         //-          </label>

         //-          <label class="form__radio">
         //-            <input type="radio" class="form__radio-default" name="formRadio" checked="checked"
         //-              value="payment by card">
         //-            <div class="form__radio-custom"></div>
         //-            <div class="form__radio-desc">Оплата по карте</div>
         //-          </label>
         //-        </div>
         //-        <div class="form__row">
         //-          <label class="form__checkbox">
         //-            <input type="checkbox" class="form__checkbox-default" checked="checked" name="formCheckbox"
         //-              value="do not call back">
         //-            <div class="form__checkbox-custom"></div>
         //-            <div class="form__checkbox-desc">Не перезванивать</div>
         //-          </label>
         //-        </div>
         //-        <div class="form__row form__row--buttons">
         //-          <button id="sendButton" type="submit" class="button button-form-order" name="submit">
         //-            Заказать
         //-          </button>
         //-          <button type="reset" class="button button-form-cancel" name="reset">
         //-            Очистить
         //-          </button>
         //-        </div>

         //-      </div>
         //-    </form>
         //-  </div>